/**
 * Aqua theme for reveal.js
 * Author: crazy4pi314 based on theme by Walther http://github.com/Walther
 */

@use 'template/mixins' as mixins;
@use 'ubuntu';

$aqua: #008b8b;
$coal: #222;
$code-background: #23241f;
$link-color: #ba0069;
$ubuntu-font: Ubuntu, sans-serif;

@use 'template/settings' with (
	$background: $coal,
	$background-color: $coal,
	$main-font: $ubuntu-font,
	$main-font-size: 36px,
	$main-color: #eee,
	$heading-font: $ubuntu-font,
	$heading-color: #eee,
	$heading-text-shadow: 2px 2px 2px $coal,
	$heading-font-weight: 700,
	$link-color: $link-color,
	$link-color-dark: #003f3f,
	$link-color-hover: #bd6396,
	$selection-background-color: $aqua,
	$selection-color: #fff
);

@use 'template/theme';
@include mixins.light-bg-text-color(#eee);

@include ubuntu.font-faces;

.reveal p {
    font-weight: 300;
    text-shadow: 1px 1px $coal;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 700;
}

.reveal p code {
    background-color: $code-background;
    display: inline-block;
    border-radius: 7px;
}

.reveal img {
	margin: 15px 0;
}

.reveal .controls,
.reveal .progress {
	color: $aqua;
}

.reveal .progress span {
	background: $aqua;
}

.reveal small code {
    vertical-align: baseline;
}