<footer class="site-footer">
    {# <div class="footer-inner inner box-flex pt-600 pb-600"> #}
    {# </div> #}
    {# <br> #}
  {% set show_site_name = true %}
  {% set show_site_icon = false %}
  
  {% include 'components/social-icons.njk' %}
  <small>
    © 2021 {{ site.author.name }}.
    Made with ♥ + the <a href="https://github.com/tylerMRoderick/fernfolio-11ty-template">Fernfolio</a> template.
    <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>
