---
layout: layouts/page.njk
title: Page not found
description: That path has wandered beyond the edge of the garden.
eyebrow: error/404
section: lost link
permalink: /404.html
noindex: true
---
## That link led off the path

The page may have moved, or the address may have a typo. Try the [home page](/), browse the [journal](/journal/), or use [site search](/search/).

{% button88 "BACK HOME", "/", "laser" %}
