---
layout: layouts/base.njk
section: events
---
<div class="page-container">
  <article>
  <h1>{{title}}</h1>
  {% if subtitle %}
  <h2>{{subtitle}}</h2>
  {% endif %}
  <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> | <a href="{{ event_url }}/">{{ event }}</a>
  <br>{{ location }}
  <p>
    {% if video %}
    <a class="tag btn" href="{{ video | url }}" rel="tag">Video</a>
    {% endif %}
    {% if slides %}
      {% if slides.reveal %}
        {% set slidesUrl %}/talks/{{ slides.reveal }}/{% endset %}
        <a class="tag btn" href="{{ slidesUrl | url }}" rel="tag">Slides (Reveal.js)</a>
      {% endif %}
      {% if slides.local %}
        {% set slidesUrl %}/static/{{ slides.local }}{% endset %}
        <a class="tag btn" href="{{ slidesUrl | url }}" rel="tag">Slides (PDF)</a>
      {% endif %}
    {% endif %}
<br>

  </p>
  <p>{{ abstract }}</p>
  <hr>
  {{ layoutContent | safe }}
  Tags:
  {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "events" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag btn" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}
  </article>
  <nav>
    <a href="{{ '/events/' | url }}">← View All Events</a>
  </nav>
</div>