---
layout: layouts/base.njk
section: projects
---
<div class="page-container">
  <h1>{{title}}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
  <hr>
  {{ layoutContent | safe }}
  {% set show_projectlist_tags = true %}
  {% set projectlist = collections.project %}
  {% include "components/projectlist.njk" %}
</div>