---
layout: layouts/base.njk
section: project
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}</h1>
  <hr>
  {{ layoutContent | safe }}
  <nav>
    {% if site.features.projectsPage %}<a href="{{ '/projects/' | url }}">← View All Projects</a>{% else %}<a href="{{ '/' | url }}">← Back to Home</a>{% endif %}
  </nav>
</div>